<table>
<thead>
    <tr>
        <th>lp</th>
        <th>title</th>
        <th>description</th>
        <th>creator</th>
        <th>assigned to</th>
        <th> group</th>
        <th>status</th>
        <th>actions</th>
    </tr>
</thead>    
<tbody>
    <% tasks.each_with_index do |task, index| %>
<tr>
<td><%= index %></td>
<td><%= task.title %></td>
<td><%= task.description %></td>
<td><%= task.creator.email %></td>
<td><%= task.assigned_to.email %></td>
<td><%= task.group.name %></td>
<td><%= task.status %></td>
<td>
    <ul>
        <li>
            <%= link_to 'edit', edit_group_task_path(task.group, task) %>
        </li>
        <% if task_creator?(current_user, task) %>
<li>
    <%= link_to 'delete', [task.group, task], data: {turbo_method: :delete,
    turbo_confirm: "are you sure whant to delete this task?"} %>
</li>
        <%end%>
    </ul>
</td>
</tr>
    <%end%>
</tbody>
</table>