<h3>Add Member</h3>
<div>
<%= form_with url: groups_add_member_url do |form| %>
<%= form.hidden_field :group_id, value: group.id %>
<%= form.label :user_email %>
<%= form.text_field :user_email %>
<%= form.submit "add member" %>
<%end%>
</div>