<!DOCTYPE html>
<html>
  <head>
    <title>TaskManager</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if user_logged? %>
<nav>
  <div>
    <ul>
      <li> <%= link_to "logout", users_logout_path, data: {turbo_confirm: "are you sure log out?",
      turbo_method: :delete} %></li>
      <li> <%= link_to "groups", groups_path %></li>
      <li><%= link_to 'dashboard', users_dashboard_path %></li>
    </ul>
  </div>
</nav>
    <%end%>
    <%= yield %>
  </body>
</html>
